@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#header2-g H1 {
  color: #4c6972;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#header2-g P {
  color: #000000;
  text-align: left;
  font-size: 16px;
}
#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-5 .mbr-brand__name a {
  font-size: 13px;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-7 .mbr-brand__name a {
  font-size: 13px;
}
#content1-8 P {
  color: #000000;
  text-align: center;
}
#header3-c H3 {
  text-align: center;
}
#header3-c P {
  text-align: center;
  color: #000000;
}
#header3-16 H3 {
  text-align: center;
}
#header3-16 SPAN {
  font-size: 20px;
}
#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-9 .mbr-brand__name a {
  font-size: 13px;
}
#header3-17 H3 {
  text-align: center;
  font-size: 20px;
}
#header3-19 H3 {
  text-align: center;
  font-size: 20px;
}
#footer1-i P {
  color: #222222;
  text-align: center;
  font-size: 11px;
}
#header3-1s H3 {
  text-align: center;
  font-size: 20px;
}
#ext_menu-h .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-h .mbr-brand__name a {
  font-size: 13px;
}
#footer1-i P {
  color: #222222;
  text-align: center;
  font-size: 11px;
}
#msg-box3-u .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#header3-1d H3 {
  text-align: center;
}
#header3-1d P {
  text-align: center;
  color: #000000;
}
#header3-1e H3 {
  text-align: center;
}
#header3-1e SPAN {
  font-size: 20px;
}
#ext_menu-1f .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1f.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-1f .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1f .mbr-brand__name a {
  font-size: 13px;
}
#footer1-1n P {
  color: #222222;
  text-align: center;
  font-size: 11px;
}
#header3-1o H3 {
  text-align: center;
  font-size: 20px;
}
#header3-1r H3 {
  text-align: center;
  font-size: 20px;
}
